<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.suivieadministratif">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_i2s"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".activity.HistoriqueLigneBonRetourActivity"></activity>

        <activity android:name=".activity.EtatRetourActivity"
            android:label="Etat de Bon Retour" />

        <activity android:name=".activity.HistoriqueLigneBonLivraisonActivity" />

        <activity android:name=".activity.LigneBonLivraisonVenteActivity" />

        <activity
            android:name=".activity.EtatLivraisonActivity"
            android:label="Etat de Bon Livraison" />
        <activity android:name=".activity.HistoriqueLigneBonCommandeActivity" />
        <activity android:name=".Globale" />
        <activity android:name=".MenuServeur" />
        <activity android:name=".EtatJournalArticleVendu" />
        <activity android:name=".StockArticle" />
        <activity
            android:name=".activity.EtatCommande"
            android:label="Etat de Bon Commande" />
        <activity android:name=".EtatChiffreAffaire" />
        <activity
            android:name=".MenuHome"
            android:label="@string/title_activity_menu_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Parametrage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>